@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-green-500 flex items-center justify-center min-h-screen overflow-hidden p-4;
  }
}

@layer utilities {
  .retro-font {
    font-family: 'Press Start 2P', cursive;
  }
}

@layer components {
  .terminal {
    background-image: linear-gradient(rgba(0, 150, 0, 0.5) 1px, transparent 1px);
    background-size: 100% 3px;
  }

  .crt {
    position: relative;
    overflow: hidden;
  }

  .crt::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
      linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 4px 100%;
    z-index: 2;
    pointer-events: none;
  }

  .scanline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: rgba(0, 255, 0, 0.1);
    z-index: 3;
    animation: scanline 10s linear infinite;
    pointer-events: none;
  }
}

@keyframes flicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }

  20%,
  22%,
  24%,
  55% {
    opacity: 0.85;
  }
}

@keyframes scanline {
  0% {
    top: 0;
  }

  100% {
    top: calc(100% - 20px);
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}